body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181414;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

.calculator {
}

.display {
  text-align: right;
  color: white;
  padding: 5px;
  font-size: 40px;
  font-family: sans-serif;
  min-height: 50px;
}

#result {
  text-align: right;
  color: white;
  padding: 5px;
  font-size: 30px;
  font-family: sans-serif;
  min-height: 30px;
}

.keys {
  display: flex;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
}

.numbers button {
  background-color: black;
  font-size: 23px;
  color: white;
  aspect-ratio: 1/1;
  min-width: 75px;
}

.numbers .del-btn {
  font-size: 13px;
}

.factors {
  display: grid;
}

.factors button {
  background-color: #3d3c3c;
  color: white;
  font-size: 25px;
  width: 100%;
  align-self: stretch;
}

.factors .equal-btn {
  aspect-ratio: 1;
  background-color: red;
  min-width: 75px;
}
