body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181414;
}

.calculator {
   
}

.display {
    text-align: right;
    color:white;
    padding: 10px;
    font-size: 50px;

}

.keys {
    display: flex;
}

.numbers {
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

.numbers button{
    background-color: black;
    font-size: 40px;
    color:white;
    aspect-ratio: 1/1;
}

.numbers .del-btn{
    font-size: 25px;
}

.factors {
    display: grid;
   
}

.factors button{
    background-color: #3d3c3c;
    color:white;
    font-size: 35px;
    border: 0; 
    width: 50px;   
   
}

.factors .equal-btn{
    background-color: red;
}

